.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px 0; /* 상하 여백 */
}

.card {
  flex: 0 0 calc(25% - 20px); /* 4개씩 한 줄에 표시 (25% 너비에서 간격 제거) */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.card img {
  width: 100%;
  height: auto; /* 비율 유지 */
}

.card h3 {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
}

@media (max-width: 760px) {
  .card {
    flex: 0 0 calc(50% - 20px); /* 화면 작으면 2개- 한 줄 */
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 0 calc(100% - 20px); /* 화면 더 작으면 1개- 한 줄 */
  }
}
